//- Script
- let currentYear = new Date().getFullYear();

// Footer
footer.page-footer.font-small.pt-4
    .container.text-center.text-md-left
        .row.text-center.text-md-left.mt-3.pb-3
            .col-md-6.col-lg-6.col-xl-6.mx-auto.mt-6
                h6.text-uppercase.mb-4.font-weight-bold จุดเริ่มต้นของ Quick Tabien
                p 
                    i “ต้องการทะเบียนเลขสวย เลขมงคล แต่จองไม่ทันสักที จึงพบว่าต้องใช้บริการจองทะเบียนเท่านั้น ถึงจะได้เลขที่ต้องการ”แต่สิ่งที่พบกลับเป็นการบริการที่ไม่เป็นมืออาชีพ จึงใช้ความรู้ ประสบการณ์เฉพาะด้าน ค้นหาเทคนิค วิธีการจอง และประสบความสำเร็จในที่สุด จึงผุดไอเดียเราก็สามารถมอบการบริการแบบมืออาชีพได้ ทั้งหมดนี้จึงเป็นจุดเริ่มต้นของ Quick Tabien”
            hr.col-10.clearfix.d-md-none.hr-styled
            .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold ลิงค์ภายในเว็บ
                p
                    a(href="#services") ทำไมถึงควรใช้บริการกับเรา
                p
                    a(href="#portfolio") ขั้นตอนในการจองกับเรา
                p
                    a(href="#schedule") ตารางหมวดการจอง
            hr.col-10.clearfix.d-md-none.hr-styled
            .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold ติดต่อเรา
                p
                    i Line ID: @quicktabien 
                p
                    i FB Page: Quick Tabien รับจองทะเบียน
                p
                    i โทร: 063-147-8669
                    br
                    i โทร: 090-939-2651
                
                
    .container.text-center
        .row.justify-content-md-center.footer-copyright
            .col-12 Copyright © #{currentYear}
                a(href="#") Quick Tabien.
                | All Rights Reserved.
        .row.justify-content-md-center.footer-social-media 
            .col-12
                a.btn.btn-dark.btn-social.mx-2(href='#!')
                    i.fab.fa-line
                a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/quicktabien', target='_blank')
                    i.fab.fa-facebook-f
                a.btn.btn-dark.btn-social.mx-2(href='#!')
                    i.fab.fa-linkedin-in
