// Portfolio Grid
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase ขั้นตอนในการจองกับเรา
            h3.section-subheading.text-muted How to reserve.
        .row
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/contact.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 1. ติดต่อผ่านเราดังนี้
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            ul 
                                li Line: @quicktabien
                                li FB: Quick Tabien 
                                    br
                                    span รับจองทะเบียน
                                li โทร: 063-147-8669
                                    br
                                    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;090-939-2651
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/give_details.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 2. แจ้งรายละเอียดข้อมูล
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            span 1. ชื่อ-สกุล และหมายเลขบัตรประชาชนของเจ้าของรถ
                            br
                            span 2. เลขตัวถังรถยนต์
                            br
                            span 3. เลขทะเบียนที่ต้องการ
                            br
                            br
                            span.font-weight-bold หมายเหตุ ข้อมูลของท่าน 
                                br
                                span ถือเป็นความลับสูงสุด
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/wait_result.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 3. รอรับผลการจองจากทางเรา
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            span รอรับผลการจองจากทางเราชิลๆ โดยทางเราจะแจ้งผลการจอง ในวันที่ระบบเปิดให้จองเลขทะเบียน ผ่านช่องทางที่ท่านติดต่อเรามา
            .col-lg-3.col-sm-6.mb-4.mb-lg-0
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/payment.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 4. ชำระเงินและรับหลักฐานการจอง
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left 
                            span โอนเงินเข้าบัญชีธนาคาร ผ่านเคาน์เตอร์ธนาคาร, ATM หรือ Internet Banking เพื่อรับหลักฐานการจอง