// Services
section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase ทำไมถึงควรใช้บริการกับเรา
            h3.section-subheading.text-muted Why us.
        .row.text-center
            .col-md-3
                img.img-how-to(src='assets/img/whyus/fast.svg', alt='')
                h4.my-3 รวดเร็ว
                p.text-muted
                    span ระบบ AI ประสิทธิภาพสูง 
                    br
                    span ระดับวินาที
            .col-md-3
                img.img-how-to(src='assets/img/whyus/confident.svg', alt='')
                h4.my-3 มั่นใจ
                p.text-muted
                    span จดทะเบียนถูกต้องตามกฎหมาย
                    br
                    span ข้อมูลของลูกค้าถือเป็นความลับสูงสุด
            .col-md-3
                img.img-how-to(src='assets/img/whyus/safe.svg', alt='')
                h4.my-3 ปลอดภัย
                p.text-muted
                    span ไม่ต้องวางเงินประกัน 
                    br
                    span จองได้จ่ายทีหลัง
            .col-md-3
                img.img-how-to(src='assets/img/whyus/trust.svg', alt='')
                h4.my-3 ซื่อตรง
                p.text-muted
                    span ราคามาตรฐาน
                    br
                    span ไม่ลัดคิว
        br
        br
        .row
            .col-sm-1
            .col-sm-10
                .row
                    .col-sm-4
                        button.btn.btn-primary.btn-block.fb-btn 
                            img(src="../../assets/img/logos/fb-logo-white.png")
                            span FB: Quick Tabien รับจองทะเบียน
                    .col-sm-4
                        button.btn.btn-primary.btn-block.line-btn 
                            img(src="../../assets/img/logos/line-logo.png")
                            span Line ID: @quicktabien
                    .col-sm-4
                        button.btn.btn-primary.btn-block.phone-btn 
                            img(src="../../assets/img/logos/telephone-white.jpg")
                            span 063-147-8669, 090-939-2651
            .col-sm-1
    .carousel.slide#carouselExampleIndicators(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
            li(data-target="#carouselExampleIndicators" data-slide-to="1")
            li(data-target="#carouselExampleIndicators" data-slide-to="2")
            li(data-target="#carouselExampleIndicators" data-slide-to="3")
        .carousel-inner
            .carousel-item.active
                img.img-how-to(src='assets/img/whyus/fast.svg', alt='')
                h4.my-3 รวดเร็ว
                p.text-muted
                    span ระบบ AI ประสิทธิภาพสูง 
                    br
                    span ระดับวินาที
            .carousel-item
                img.img-how-to(src='assets/img/whyus/confident.svg', alt='')
                h4.my-3 มั่นใจ
                p.text-muted
                    span จดทะเบียนถูกต้องตามกฎหมาย
                    br
                    span ข้อมูลของลูกค้าถือเป็นความลับสูงสุด
            .carousel-item
                img.img-how-to(src='assets/img/whyus/safe.svg', alt='')
                h4.my-3 ปลอดภัย
                p.text-muted
                    span ไม่ต้องวางเงินประกัน 
                    br
                    span จองได้จ่ายทีหลัง
            .carousel-item
                img.img-how-to(src='assets/img/whyus/trust.svg', alt='')
                h4.my-3 ซื่อตรง
                p.text-muted
                    span ราคามาตรฐาน
                    br
                    span ไม่ลัดคิว
            a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next