doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='รับจองเลขทะเบียนรถ กรุงเทพฯ เร็วที่สุด ถูกที่สุด ปลอดภัยที่สุด เริ่มต้นเพียง 999 บาท')
        meta(name='author', content='Quick Tabien')
        meta(name='keywords', content='จองทะเบียนรถ, จองทะเบียนรถกรุงเทพฯ, จองทะเบียนรถเร็วที่สุด, จองทะเบียนรถด่วนที่สุด, จองทะเบียนรถถูกที่สุด, จองได้จ่ายทีหลัง, รวดเร็ว, มั่นใจ, ปลอดภัย, ซื่อตรง, ไม่ต้องวางเงินประกัน')
        meta(name='facebook:page', content='https://www.facebook.com/quicktabien')
        meta(name='line:account', content='@quicktabien')

        title NO.1 รับจองเลขทะเบียนรถ รับประกันเร็วที่สุด - Quick Tabien - จองได้ จ่ายทีหลัง

        link(rel='icon', type='image/x-icon', href='assets/img/logo-white.svg')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.js-scroll-trigger(href='#page-top')
                    img#logo(src='assets/img/logo-white.svg', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') How To
        
        include sections/banner.pug
        include sections/services.pug
        include sections/howto.pug
        include sections/footer.pug

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')


        // Core theme JS
        script(src='js/scripts.js')